node_modules
vendor
.env
.git
storage/*.key
storage/logs/*
public/storage
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/app/*
tests
Mungkin Media DPD Award
.github
.phpunit.cache
